body {
  background-color: #0a0a30;
}

#text {
  background-color: #0a0a30;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 600px;
  background-color: #gggggg;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: none;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: none;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a50;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 20px solid #feac32;
}
